<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dev</title>
</head>
<body>


<div style="color:#3d0a54;background-color:#c9b7b3;padding:30px;text-align:center;border-radius:20px;">
<a href="https://www.instagram.com/_devgadde_/">

<h1><strong>I am Dev</strong></h1>
</a>


    <div>
        <p>
            This delegate feels that covid-19 is an imminent threat that needs to be dealt with and hopes that there will be fruitful and interesting debate throughout the conference to find solution to this pandemic.
        </p>

        <div style="background-color:#4257f5">

            <img src="phonepicutres-TA.jpg" alt="mypic">


        </div>


    </div>
<h2>Project is wurking</h2>
<h3>Project is wurking</h3>
<h4>Project is wurking</h4>
<h5>Project is wurking</h5>
<h6>Project is wurking</h6>
<h7>Project is wurking</h7>
</div>





</body>

</html>